---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";

const pageTitle = "Luis Yampier Cueva Suárez - Ingeniero de Software | Portfolio";
const description = "Ingeniero de Software con experiencia en desarrollo web, soluciones tecnológicas y aplicaciones con inteligencia artificial.";
const ogimage = {
    url: "/images/Luis.webp",
    alt: "Luis Yampier Cueva Suárez - Ingeniero de Software"
};
---

<Layout pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>