---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Febrero 2025 – Mayo 2025",
    title: "Desarrollador de Software",
    company: "GootWork",
    description:
      "Desarrollo de un sistema de aula virtual personalizado, adaptado a las necesidades específicas de la organización. Participación en proyectos de innovación tecnológica con enfoque en impacto social con modelo de negocios llamado ‘Minkay’.",
  },
  {
    date: "Abril 2024 – Abril 2025",
    title: "Ingeniero de Software Junior",
    company: "Adventur.pe",
    description:
      "Desarrollé la plataforma web de la empresa optimizada para SEO, logrando un incremento en el tráfico orgánico. Optimización de contenido digital enfocado en destinos turísticos, mejorando la visibilidad en línea de los productos. Implementación de soluciones de comercio electrónico utilizando herramientas como WooCommerce y Elementor.",
  },
  {
    date: "Agosto 2024 – Diciembre 2024",
    title: "Desarrollador Web",
    company: "CONIT",
    description:
      "Creación de aplicaciones web personalizadas para clientes corporativos utilizando WordPress, WooCommerce y Elementor.",
  },
  {
    date: "Agosto 2024 – Diciembre 2024",
    title: "Contrato de Prácticas",
    company: "Grupo GAAN",
    description:
      "Organización de inventarios físicos utilizando Tarjetas Kardex, asegurando una gestión precisa de los activos y materiales de la empresa. Soporte técnico en la instalación, configuración y mantenimiento de equipos informáticos.",
  },
];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Experiencia profesional">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2 text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
