---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Junio 2025 – Actualidad",
    title: "Desarrollador de Software Freelance",
    company: "Independiente",
    description:
      "Creación de sitios web y plataformas e-learning con tecnologías como Astro, Moodle, WordPress y WooCommerce. Implementación de aulas virtuales personalizadas con integración de pagos online y diseño adaptable. Aplicación de estrategias SEO y optimización de rendimiento. Colaboración con Conit y otros equipos en proyectos de transformación digital.",
  },
  {
    date: "Septiembre 2025 – Octubre 2025",
    title: "Ingeniero de Sistemas Junior",
    company: "Grupo Conit",
    description:
      "Desarrollo e implementación de plataformas educativas basadas en Moodle, adaptadas a las necesidades académicas de la organización. Integración de pasarelas de pago seguras en sistemas e-learning mediante WordPress y WooCommerce. Capacitación a equipos administrativos y docentes en el uso y gestión de aulas virtuales.",
  },
  {
    date: "Febrero 2025 – Mayo 2025",
    title: "Desarrollador de Software",
    company: "GootWork",
    description:
      "Desarrollé un sistema de aula virtual personalizado, adaptado a las necesidades específicas de la organización. Participación en proyectos de innovación tecnológica con enfoque en impacto social con modelo de negocios llamado 'Minkay'.",
  },
  {
    date: "Abril 2024 – Abril 2025",
    title: "Ingeniero de Software Junior",
    company: "Adventur.pe",
    description:
      "Desarrollé la plataforma web de la empresa optimizada para SEO, logrando un incremento en el tráfico orgánico. Optimización de contenido digital enfocado en destinos turísticos, mejorando la visibilidad en línea de los productos. Implementación de soluciones de comercio electrónico utilizando herramientas como WooCommerce y Elementor.",
  },
  {
    date: "Agosto 2024 – Diciembre 2024",
    title: "Desarrollador Web",
    company: "Conit",
    description:
      "Creación de aplicaciones web personalizadas para clientes corporativos utilizando WordPress, WooCommerce y Elementor.",
  },
  {
    date: "Agosto 2024 – Diciembre 2024",
    title: "Contrato de Prácticas",
    company: "Grupo GAAN",
    description:
      "Organización de inventarios físicos utilizando Tarjetas Kardex, asegurando una gestión precisa de los activos y materiales de la empresa. Soporte técnico en la instalación, configuración y mantenimiento de equipos informáticos.",
  },
];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Experiencia profesional">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2 text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>