---
import Capsule from "../ui/Capsule.astro";

const { variant = "default", languages = [] } = Astro.props;

// Si no se pasan languages como prop, obtenerlas de los posts
let finalLanguages: string[] = [];

if (languages.length > 0) {
    finalLanguages = languages;
} else {
    const allPosts = await Astro.glob("../../pages/blog/posts/*.md");
    finalLanguages = [...new Set(allPosts.map((post: any) => post.frontmatter.languages).flat())];
}

const baseClasses = "flex flex-wrap";

const variantClasses = {
    default: "gap-3 max-lg:gap-1",
    vertical: "gap-6 flex-col",
} as const;

const classes = `${baseClasses} ${variantClasses[variant as keyof typeof variantClasses] || variantClasses.default}`;
---

<div class={classes}>
    {
        finalLanguages.map((language: string) => (
            <Capsule lang={language} linkEnabled={true} size="md" />
        ))
    }
</div>
